@import "tailwindcss";

:root {

  --primary: #FF7037;  
  --background: #303030;
  --on-background: #353535;
  --secondary: #ffffff;
  --neutral: #4C4C4C;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);
  --font-inria-sans: var(--font-inria-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inria-sans);
}
html {
  scroll-behavior:smooth;
}

/* animations */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideIn 0.6s ease-out;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.9s ease-out;
}




