@import "tailwindcss";

:root {
  --primary: #ff7037;
  /*#009479;*/
  --background: #303030;
  --on-background: #353535;
  --secondary: #ffffff;
  --neutral: #4c4c4c;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);
  --font-inria-sans: var(--font-inria-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #ffffff;
  }
}

body {
  background-color: #050505;
  color: var(--foreground);
  font-family: var(--font-inria-sans);
}

html {
  scroll-behavior: smooth;
}