@import "tailwindcss";

:root {
  --primary: #ff7037;
  --background: #303030;
  --on-background: #353535;
  --secondary: #ffffff;
  --neutral: #4c4c4c;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-foreground: var(--foreground);
  --font-inria-sans: var(--font-inria-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inria-sans);
}
html {
  scroll-behavior: smooth;
}

.globalBackground {
  background-image: url("/background/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.profile__image {
  /*   border-top-left-radius: 1rem 4rem; */
  border-radius: 30% 70% 54% 46% / 30% 30% 70% 70%;
  transition: border-radius 300ms ease-in-out;

}
.profile__image:hover {
  /*   border-top-left-radius: 1rem 4rem; */
  border-radius: 15% 85% 22% 78% / 72% 11% 89% 28%;

}

.about__image {
  /*   border-top-left-radius: 1rem 4rem; */
  border-radius: 3% 97% 4% 96% / 97% 4% 96% 3%;

}